#panel-footer { 
    color: white; 
    background-color: #141720; 
    padding: 2rem;
    position: relative;
    bottom: 0px;
}

#universidad {-webkit-filter: invert(100%);
    filter: invert(100%);
    }
