<footer class="panel-footer" id="panel-footer">
    <div class="container">
        <div class="row">
            <section id="ud" class="col-sm-4">
                <div class="col-sm-6" id="universidad">
                    <a href="https://www.udistrital.edu.co/inicio" target="_blank" rel="noopener noreferrer"><img
                            alt="Universidad Distrital Francisco Jose de Caldas"
                            src="https://www.udistrital.edu.co/themes/custom/versh/logo.png" style="width: 230%;" /></a>
                </div>
            </section>
            <section id="desarrollado" class="col-sm-4">
                <p>Desarrollado por los Mesias Cerebrales.</p>
                <ul>
                    <li>Daniel Augusto Parra</li>
                    <li>Marlon Arias Cardenas</li>
                    <li>Juan David Ariza</li>
                </ul>
            </section>
            <section id="testimonials" class="col-sm-4">
                <p>Contacto</p>
                <ul>
                    <li>daaparrac@correo.udistrital.edu.co</li>
                    <li>mariasc@correo.udistrital.edu.co</li>
                    <li>judarizar@correo.udistrital.edu.co</li>
                </ul>
            </section>
        </div>
        <div class="text-center">&copy; Copyright Mesias Cerebrales 2020</div>
    </div>
</footer>