
/* ----------------------------------------------Generalise------------------------------------- */

#services, #container{display:block; position:relative; width:960px; margin:0 auto;}


/* ----------------------------------------------Header------------------------------------- */

#services{padding:20px 0 0 0; text-transform:uppercase; font-size:24px; font-family:Georgia, "Times New Roman", Times, serif;}
#services img{margin:0; padding:0; line-height:normal;}
#services ul{display:block; width:960px; margin:0; padding:0; list-style:none; overflow:hidden;}
#services li{display:block; float:left; width:234px; height:210px; margin:0 8px 8px 0; padding:0; overflow:hidden;}
#services li.last{margin-right:0;}
#services a strong{display:none; width:100%; margin:0; padding:15px 0; font-weight:normal; text-align:center; color:#000000; background-color:#232323;}
#services a:hover strong{display:block;}

/* ----------------------------------------------Column------------------------------------- */

#column{display:block; float:right; width:300px;}
#column .holder, #column #featured{display:block; width:300px; margin-bottom:20px;}
#column .holder p{line-height:1.6em;}
#column h2{font-size:20px;}
#column .holder h2.title{display:block; width:100%; height:65px; margin:0; padding:15px 0 0 0; font-size:20px; line-height:normal; border-bottom:1px dashed #666666;}
#column .holder h2.title img{float:left; margin:-15px 8px 0 0; padding:5px; border:1px solid #666666;}
#column .holder p.readmore{display:block; width:100%; font-weight:bold; text-align:right; line-height:normal;}
#column div.imgholder{display:block; width:290px; margin:0 0 10px 0; padding:4px; border:1px solid #666666;}


a.swap:hover{white-space:normal;}
a.swap:link span, a.swap:visited span, a.swap:active span{visibility:hidden; position:absolute; top:35px; left:5px; width:950px; height:370px;}
a.swap:active span, a.swap:hover span, a.swap:focus span{visibility:visible;}
a.swap:active img, a.swap:focus img{position:relative; z-index:50;}



