#panel-footer     { color: white; background-color: #3476cc; }
#panel-footer    { color: white; background-color: #262c3c; }
#panel-footer { color: white; background-color: #141720; }
#panel-footer { padding: 20px; }

#universidad {-webkit-filter: invert(100%);
    filter: invert(100%);
    }



