<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/admin']">Dashboard</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nuevo</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/admin/new/movie/new']">Pelicula</a>
            <a class="dropdown-item" href="#">Teatro</a>
            <a class="dropdown-item" href="#">Sala</a>
            <a class="dropdown-item" href="#">Horario</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Consultar</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/admin/search/movie']">Pelicula</a>
            <a class="dropdown-item" href="#">Teatro</a>
            <a class="dropdown-item" href="#">Sala</a>
            <a class="dropdown-item" href="#">Horario</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Salir</a>
    </li>
</ul>